*.code-workspace

env/nv-ibma_env

*-env

*.pyc

data/

results/

jobs/log

*.DS_Store

temp/

figures/decoding/*
figures/clustering/*
figures/neurosynth_clustering/*
figures/neurovault_clustering/*
figures/umap/*
figures/pubmed_ibma/*
figures/pubmed_ibma/*
figures/ibma_vs_cbma/*
figures/neurovault_data/*